embedding_model="sentence-transformers/all-MiniLM-L6-v2"
llm_model="mlx-community/Qwen2.5-VL-3B-Instruct-4bit"
base_url="http://localhost:8000/v1"
api_key=""
docs_path="docs"
persist_directory="db/chroma_db"
device="mps" # cpu is you use other than Mac
clean_db="False"